// fonts used
// GB Garamoud
// Georama
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Georama:ital,wght@0,400;0,500;0,700;1,900&family=Noto+Sans:ital@1&family=Varela+Round&display=swap');
@import 'themes';
* {
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    font-style: normal;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

section {
    width: 80%;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

h3 {
    font-size: 25px;
    font-weight: bold;
}

h4 {
    font-size: 20px;
    font-weight: bold;
}

h5 {
    font-size: 18px;
    font-weight: bold;
}

h6 {
    font-size: 16px;
    font-weight: bold;
}

i {
    font-style: normal;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: $accent;
}

// common
.section-title {
    margin-bottom: 30px;
    color: $main;
    text-align: center;
}

.center {
    text-align: center;
}

.start {
    text-align: start;
}

.align-end {
    text-align: end;
}

i {
    //icon settings
    margin-right: 5px;
}

.contact-info {
    padding: 20px 20px;
    color: $main;
    border: solid 3px $main-light;
    border-radius: 15px;
    h2 {
        color: $main-light;
        margin-bottom: 24px;
    }
    .contact-details {
        margin-top: 20px;
    }
    img {
        border-radius: 15px;
        width: 200px;
        height: 200px;
    }
}

.sarlata {
    color: $accent2;
    font-weight: bold;
}

// Homepage
.navbar {
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: $main;
    height: 10vh;
    .navbar-info {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 80%;
        .title {
            font-family: "EB Garamond", serif;
            color: $primary;
            img {
                height: 10vh;
            }
            h1 {
                font-size: 40px;
                color: $accent;
                i {
                    color: $accent2;
                }
            }
            h3 {
                font-size: 20px;
            }
        }
        .navbar-links {
            display: flex;
            align-items: center;
            a {
                margin: auto 10px;
                position: relative;
                font-size: 14px;
                text-decoration: none;
                transition: text-decoration 1s;
            }
            a.link::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 0.1em;
                background-color: $accent;
                opacity: 0;
                transition: opacity 300ms, transform 300ms;
            }
            a.link:hover::after,
            a.link:focus::after {
                opacity: 1;
                transform: translate3d(0, 0.2em, 0);
            }
            .selected-link {
                color: $accent;
                font-weight: bold;
            }
        }
    }
}

.dropdown {
    a {
        margin: 0;
    }
    position: relative;
    height: fit-content;
    width: fit-content;
    .options {
        z-index: 1000;
        width: 200px;
        display: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), 0px -4px 4px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 1.2em;
        background-color: $light;
        opacity: 0;
        transition: opacity 2s, display 2s;
        // backcolorcolor: $main;
        a.option {
            padding: 10px 5px;
            display: block;
            color: $main;
            font-size: 14px;
            font-weight: bold;
            margin: auto;
            margin-bottom: 5px;
            background-color: #fff;
        }
        a.option:hover {
            background-color: $accent2;
            color: $accent;
        }
        a.selected-option {
            background-color: $accent2;
            color: $accent;
        }
    }
}

.dropdown:hover {
    .options {
        display: block;
        opacity: 1;
    }
}

.button {
    padding: 10px 8px;
    border: 2px solid $primary;
    box-sizing: border-box;
    border-radius: 15px;
}

.button:hover {
    background-color: $main-dark;
    color: $accent;
    border: 2px solid $accent;
    box-shadow: 4px 4px 8px 0 rgba($color: $accent, $alpha: 0.4);
}

.button:hover::after {
    content: '';
    width: 0;
}

// Home title
#popular-courses {
    margin: 100px auto;
    // margin-bottom: 50px;
    h1 {
        margin-bottom: 30px;
        color: $main;
        text-align: center;
    }
    .courses {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        justify-content: space-between;
        // grid-template-rows: auto auto;
        // gap: 4%;
        row-gap: 20px;
        column-gap: 20px;
        .courses-box {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), 0px -4px 4px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            padding: 8px;
            box-sizing: border-box;
            .title {
                height: 60px;
            }
            .img {
                // height: px;
                // border-radius: 10px 10px 0 0;
                // width: 280px;
                img {
                    border-radius: 10px 10px 0 0;
                    height: 150px;
                    width: 100%;
                    object-fit: cover;
                }
                margin-bottom: 15px;
            }
            .info {
                margin-top: 10px;
                table {
                    width: 100%;
                    font-size: 14px;
                    td:first-child {
                        font-weight: bold;
                    }
                }
            }
            .join {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                margin-top: 30px;
                h6 {
                    font-size: 12px;
                    color: $main-light;
                }
                a {
                    font-size: 12px;
                    background-color: $main-light;
                    border-radius: 10px;
                    padding: 5px 20px;
                    color: $accent;
                    font-weight: bolder;
                }
            }
        }
    }
    @media screen and (max-width: 1400px) {
        .courses {
            grid-template-columns: auto auto auto;
            gap: 5%;
        }
    }
}

#contact {
    .contact {
        display: flex;
        justify-content: space-between;
        .map {
            width: 50%;
            border-radius: 15px;
            border: $main-light 3px solid;
            iframe {
                width: 100%;
                height: 100%;
                border-radius: 15px;
            }
            .mapouter {
                /* position: relative; */
                /* text-align: right; */
                height: 100%;
                // width: 600px;
            }
            .gmap_canvas {
                overflow: hidden;
                background: none!important;
                height: 100%;
                // width: 600px;
            }
        }
        .contact-types {
            width: 45%;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            .contact-form {
                background-color: $main-light;
                border-radius: 15px;
                padding: 20px 15px 40px;
                h2 {
                    color: $primary;
                    margin-bottom: 20px;
                }
                form {
                    display: flex;
                    flex-direction: column;
                    row-gap: 15px;
                    justify-content: space-between;
                    input {
                        padding: 5px 16px;
                        font-size: 20px;
                        border-radius: 5px;
                        border: none;
                        outline: none;
                        font-family: inherit;
                    }
                    input::placeholder {
                        color: #bababa;
                    }
                    textarea {
                        font-family: inherit;
                        border: none;
                        padding: 5px 16px;
                        font-size: 20px;
                        border-radius: 5px;
                        outline: none;
                    }
                    textarea::placeholder {
                        color: #bababa;
                    }
                    input[type=submit] {
                        @extend h5;
                        border-radius: 15px;
                        width: fit-content;
                        color: $primary;
                        border: 3px solid $primary;
                        background-color: transparent;
                        padding: 15px 40px;
                        transition: box-shadow 500ms, color 500ms, border 500ms;
                        transition-timing-function: ease;
                        box-shadow: none;
                    }
                    input[type=submit]:hover {
                        border: $accent 3px solid;
                        color: $accent;
                        box-shadow: 0px 4px 4px rgba($accent, 0.2), 0px -4px 4px rgba($accent, 0.1);
                    }
                    .social {
                        align-items: center;
                        display: flex;
                        column-gap: 20px;
                        h6 {
                            color: #fff;
                        }
                        a {
                            font-size: 40px;
                            margin-right: 10px;
                        }
                    }
                }
            }
            // .contact-info {
            //     margin-top: 30px;
            //     padding: 20px 20px;
            //     color: $main;
            //     border: solid 3px $main-light;
            //     border-radius: 15px;
            //     h2 {
            //         color: $main-light;
            //         margin-bottom: 24px;
            //     }
            //     .contact-details {
            //         margin-top: 20px;
            //     }
            // }
        }
    }
}

// about page
#about {
    margin-top: 100px;
    .about {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        .img {
            width: 30%;
            padding: 0;
            // height: 500px;
            img {
                // margin: 0;
                border: $main-light solid 3px;
                border-radius: 15px;
                width: 100%;
                object-fit: cover;
            }
        }
        .desc {
            text-align: justify;
            // width: 60%;
            font-size: 16px;
        }
    }
}

#team {
    margin: 50px auto;
    .our-team {
        display: flex;
        justify-content: center;
        column-gap: 50px;
        text-align: start;
        .contact-info {
            width: 40%;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 -8px 16px 0 rgba(0, 0, 0, 0.1);
            border: solid 3px transparent;
            row-gap: 50px;
            text-align: center;
            img {
                width: 300px;
                border-radius: 0;
            }
            .infos {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .info {
                opacity: 1;
                font-size: 16px;
                border: solid 3px transparent;
                border-radius: 15px;
                height: 100%;
                box-sizing: border-box;
                text-align: justify;
                height: fit-content;
            }
        }
    }
}

// study abroad section
#study-abroad {
    margin-top: 100px;
    .study-abroad-div {
        align-items: center;
        height: 50vh;
        display: flex;
        justify-content: center;
        column-gap: 5%;
        .img {
            // width: 30%;
            height: 50%;
            // height: 30%;
            // height: 200px;
            background-color: #bababa;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 10px;
            width: 30%;
            .content-text {
                text-align: justify;
                // margin-top: 20px;
                font-size: 16px;
                p {
                    margin-top: 10px;
                    font-weight: bold;
                    color: $main;
                    text-decoration: underline;
                }
                p:hover {
                    color: $accent;
                }
            }
        }
        table.country-list {
            padding: 0px;
            border: solid $main 3px;
            td {
                border: solid $main 1px;
                width: 100px;
                font-size: 12px;
                margin: 0px;
            }
            tr {
                padding: 0px;
                margin: 0px;
            }
        }
    }
}

#ibps {
    width: 100%;
    margin-top: 10vh;
    height: 90vh;
    .banking-img {
        position: relative;
        height: 100%;
        width: 100%;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .content {
            width: 400px;
            text-align: justify;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 10px;
            background-color: rgba($light, 0.7);
            border-radius: 15px;
            box-sizing: border-box;
            h2 {
                margin-bottom: 10px;
                color: $main;
            }
            i {
                font-weight: bold;
                font-style: italic;
            }
            a {
                display: block;
                color: $main-light;
                font-weight: bold;
                margin-top: 20px;
            }
            a:hover {
                color: $accent;
            }
        }
    }
}

#placement {
    margin-top: 10vh;
    .content {
        text-align: justify;
        width: 50%;
        margin: auto;
    }
    .img-content {
        width: fit-content;
        display: flex;
        // justify-content: space-between;
        // column-gap: 30px;
        margin: 20px auto;
        // font-size: 16px;
        img {
            height: 300px;
            width: 300px;
        }
        div {
            background-color: $main-light;
            color: #fff;
            padding: 10px;
            text-align: justify;
            // height: 500px;
            width: 500px;
            // width: 70%;
            a {
                font-weight: bold;
                color: $main-dark;
            }
            a:hover {
                color: $accent;
            }
        }
    }
}

@import 'animation';
@import 'slideshow';
@import 'courses'