@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Georama:ital,wght@0,400;0,500;0,700;1,900&family=Varela+Round&display=swap");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  font-style: normal;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

section {
  width: 80%;
  margin: auto;
}

h1,
h2,
h3,
h4,
.course .course-title,
h5,
#contact .contact .contact-types .contact-form form input[type=submit],
h6 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

h4, .course .course-title {
  font-size: 20px;
  font-weight: bold;
}

h5, #contact .contact .contact-types .contact-form form input[type=submit] {
  font-size: 18px;
  font-weight: bold;
}

h6 {
  font-size: 16px;
  font-weight: bold;
}

i {
  font-style: normal;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #FEBF00;
}

.section-title {
  margin-bottom: 30px;
  color: #203966;
  text-align: center;
}

.center {
  text-align: center;
}

.start {
  text-align: start;
}

.align-end {
  text-align: end;
}

i {
  margin-right: 5px;
}

.contact-info {
  margin-top: 30px;
  padding: 20px 20px;
  color: #203966;
  border: solid 3px #514EC8;
  border-radius: 15px;
}
.contact-info h2 {
  color: #514EC8;
  margin-bottom: 24px;
}
.contact-info .contact-details {
  margin-top: 20px;
}
.contact-info img {
  border-radius: 15px;
  width: 200px;
  height: 200px;
}

.sarlata {
  color: #EC7D31;
  font-weight: bold;
}

.navbar {
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #203966;
  height: 10vh;
}
.navbar .navbar-info {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}
.navbar .navbar-info .title {
  font-family: "EB Garamond", serif;
  color: #fff;
}
.navbar .navbar-info .title img {
  height: 10vh;
}
.navbar .navbar-info .title h1 {
  font-size: 40px;
  color: #FEBF00;
}
.navbar .navbar-info .title h1 i {
  color: #EC7D31;
}
.navbar .navbar-info .title h3 {
  font-size: 20px;
}
.navbar .navbar-info .navbar-links {
  display: flex;
  align-items: center;
}
.navbar .navbar-info .navbar-links a {
  margin: auto 10px;
  position: relative;
  font-size: 14px;
  text-decoration: none;
  transition: text-decoration 1s;
}
.navbar .navbar-info .navbar-links a.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #FEBF00;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.navbar .navbar-info .navbar-links a.link:hover::after,
.navbar .navbar-info .navbar-links a.link:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
.navbar .navbar-info .navbar-links .selected-link {
  color: #FEBF00;
  font-weight: bold;
}

.dropdown {
  position: relative;
  height: fit-content;
  width: fit-content;
}
.dropdown a {
  margin: 0;
}
.dropdown .options {
  z-index: 1000;
  width: 200px;
  display: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), 0px -4px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 1.2em;
  background-color: #ebebeb;
  opacity: 0;
  transition: opacity 2s, display 2s;
}
.dropdown .options a.option {
  padding: 10px 5px;
  display: block;
  color: #203966;
  font-size: 14px;
  font-weight: bold;
  margin: auto;
  margin-bottom: 5px;
  background-color: #fff;
}
.dropdown .options a.option:hover {
  background-color: #EC7D31;
  color: #FEBF00;
}
.dropdown .options a.selected-option {
  background-color: #EC7D31;
  color: #FEBF00;
}

.dropdown:hover .options {
  display: block;
  opacity: 1;
}

.button {
  padding: 10px 8px;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 15px;
}

.button:hover {
  background-color: #0A1B33;
  color: #FEBF00;
  border: 2px solid #FEBF00;
  box-shadow: 4px 4px 8px 0 rgba(254, 191, 0, 0.4);
}

.button:hover::after {
  content: "";
  width: 0;
}

#popular-courses {
  margin: 100px auto;
}
#popular-courses h1 {
  margin-bottom: 30px;
  color: #203966;
  text-align: center;
}
#popular-courses .courses {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: space-between;
  gap: 4%;
}
#popular-courses .courses .courses-box {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), 0px -4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 8px;
}
#popular-courses .courses .courses-box .img {
  margin-bottom: 15px;
}
#popular-courses .courses .courses-box .img img {
  border-radius: 10px 10px 0 0;
  height: 150px;
  width: 100%;
  object-fit: cover;
}
#popular-courses .courses .courses-box .info {
  margin-top: 10px;
}
#popular-courses .courses .courses-box .info table {
  width: 100%;
  font-size: 14px;
}
#popular-courses .courses .courses-box .info table td:first-child {
  font-weight: bold;
}
#popular-courses .courses .courses-box .join {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 30px;
}
#popular-courses .courses .courses-box .join h6 {
  font-size: 12px;
  color: #514EC8;
}
#popular-courses .courses .courses-box .join a {
  font-size: 12px;
  background-color: #514EC8;
  border-radius: 10px;
  padding: 5px 20px;
  color: #FEBF00;
  font-weight: bolder;
}
@media screen and (max-width: 1400px) {
  #popular-courses .courses {
    grid-template-columns: auto auto auto;
    gap: 5%;
  }
}

#contact .contact {
  display: flex;
  justify-content: space-between;
}
#contact .contact .map {
  width: 50%;
  border-radius: 15px;
  border: #514EC8 3px solid;
}
#contact .contact .map iframe {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
#contact .contact .map .mapouter {
  /* position: relative; */
  /* text-align: right; */
  height: 100%;
}
#contact .contact .map .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
}
#contact .contact .contact-types {
  width: 45%;
}
#contact .contact .contact-types .contact-form {
  background-color: #514EC8;
  border-radius: 15px;
  padding: 20px 15px 40px;
}
#contact .contact .contact-types .contact-form h2 {
  color: #fff;
  margin-bottom: 20px;
}
#contact .contact .contact-types .contact-form form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
#contact .contact .contact-types .contact-form form input {
  padding: 5px 16px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: inherit;
}
#contact .contact .contact-types .contact-form form input::placeholder {
  color: #bababa;
}
#contact .contact .contact-types .contact-form form textarea {
  font-family: inherit;
  border: none;
  padding: 5px 16px;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
}
#contact .contact .contact-types .contact-form form textarea::placeholder {
  color: #bababa;
}
#contact .contact .contact-types .contact-form form input[type=submit] {
  border-radius: 15px;
  width: fit-content;
  color: #fff;
  border: 3px solid #fff;
  background-color: transparent;
  padding: 15px 40px;
  transition: box-shadow 500ms, color 500ms, border 500ms;
  transition-timing-function: ease;
  box-shadow: none;
}
#contact .contact .contact-types .contact-form form input[type=submit]:hover {
  border: #FEBF00 3px solid;
  color: #FEBF00;
  box-shadow: 0px 4px 4px rgba(254, 191, 0, 0.2), 0px -4px 4px rgba(254, 191, 0, 0.1);
}

#about {
  margin-top: 100px;
}
#about .about {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
#about .about .img {
  width: 30%;
  padding: 0;
}
#about .about .img img {
  border: #514EC8 solid 3px;
  border-radius: 15px;
  width: 100%;
  object-fit: cover;
}
#about .about .desc {
  text-align: justify;
  width: 60%;
  font-size: 16px;
}

#team {
  margin-bottom: 50px;
}
#team .our-team {
  text-align: start;
}
#team .our-team .contact-info {
  display: flex;
  border: solid 3px transparent;
  column-gap: 50px;
}
#team .our-team .contact-info img {
  width: 300px;
  border-radius: 0;
}
#team .our-team .contact-info .infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#team .our-team .contact-info .info {
  opacity: 1;
  font-size: 16px;
  border: solid 3px transparent;
  border-radius: 15px;
  height: 100%;
  box-sizing: border-box;
  text-align: justify;
  height: fit-content;
}

#study-abroad {
  margin-top: 100px;
}
#study-abroad .study-abroad-div {
  align-items: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  column-gap: 5%;
}
#study-abroad .study-abroad-div .img {
  height: 50%;
  background-color: #bababa;
}
#study-abroad .study-abroad-div .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#study-abroad .study-abroad-div .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  width: 30%;
}
#study-abroad .study-abroad-div .content .content-text {
  text-align: justify;
  font-size: 16px;
}
#study-abroad .study-abroad-div .content .content-text p {
  margin-top: 10px;
  font-weight: bold;
  color: #203966;
  text-decoration: underline;
}
#study-abroad .study-abroad-div .content .content-text p:hover {
  color: #FEBF00;
}
#study-abroad .study-abroad-div table.country-list {
  padding: 0px;
  border: solid #203966 3px;
}
#study-abroad .study-abroad-div table.country-list td {
  border: solid #203966 1px;
  width: 100px;
  font-size: 12px;
  margin: 0px;
}
#study-abroad .study-abroad-div table.country-list tr {
  padding: 0px;
  margin: 0px;
}

.reveal {
  position: relative;
  transform: translateX(350px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal-left {
  position: relative;
  transform: translateX(-350px);
  opacity: 0;
  transition: 2s all ease;
}

.active {
  transform: translateX(0);
  opacity: 1;
}

#home-title {
  background: radial-gradient(circle, #181766 0%, #514ec8 100%);
  height: 90vh;
  width: 100%;
  margin-top: 10vh;
}
#home-title .circle-div i,
#home-title .circle-div::before {
  content: "";
  float: left;
  height: 100%;
  width: 50%;
  shape-outside: radial-gradient(farthest-side at right, transparent calc(100% - var(--p)), #fff 0);
}
#home-title .circle-div i {
  float: right;
  shape-outside: radial-gradient(farthest-side at left, transparent calc(100% - var(--p)), #fff 0);
}
#home-title .home-title-offer {
  font-size: 50px;
  color: #FEBF00;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 90vh;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 100%;
  width: 100%;
}
.mySlides img {
  width: 100%;
  height: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dots {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active-slide,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
#courses {
  margin-top: 100px;
}

.course {
  border: 2px black solid;
  padding: 20px 30px;
  margin-bottom: 10px;
  background-color: #203966;
  color: #fff;
  transition: background-color 0.5s;
}
.course .course-title {
  margin-bottom: 10px;
}
.course .course-info {
  opacity: 0;
  transform: translateY(-1em);
  justify-content: space-around;
  height: 0px;
  transition: 0.5s transform;
}

.course:hover {
  background-color: #fff;
  color: #203966;
}
.course:hover .course-info {
  opacity: 1;
  transform: translateY(0em);
  height: auto;
}

/*# sourceMappingURL=styles.css.map */
